<div class="container">
<center><h1>Find, Follow and Promote Civic Events. All in one place.</h1> </center>
<center><h2>Discover a topic by interest and join others to jumpstart its social media campaign, <a href="#myModal" role="button" data-toggle="modal">learn more...</a></h2> </center>
</div>


    <div id="nf" class="container">
<div class="iconrow">
      <a href="categories/3"><div class="iconhold"><img src="/assets/art.png"><p style="margin-left:20px;">Arts</p></div></a>
      <a href="categories/4"><div class="iconhold"><img src="/assets/council.png"><p style="margin-left:-5px;">Council Meeting</p></div></a>
      <a href="categories/1"><div class="iconhold"><img src="/assets/pets.png"><p style="margin-left:20px;">Pets</p></div></a>
      <a href="categories/2"><div class="iconhold"><img src="/assets/safty.png"><p style="margin-left:45px;">Safty</p></div></a>
      <a href="categories/5"><div class="iconhold"><img src="/assets/urbanplanning.png"><p style="margin-left:-5px;">Urban Planning</p></div></a>
</div>
</div>
<div id="long" class="container">
<div id="randtweets" data-random-tweets-path="<%=random_tweets_path%>">
<center><ul><li></li></ul></center>
</div>
<% #@categories.each do |category| %>
    <%# link_to category.name, category %>
    <%# end %>
 </div><!-- /container -->
