<style>html {height: 100%}</style>

<div class="container">

<center><h1>Find, Follow and Promote Civic Events. All in one place.</h1> </center>
<center><h2>Discover a topic by interest and join others to jumpstart a social media campaign, <a href="#myModal" role="button" data-toggle="modal">learn more...</a></h2> </center>

</div>


    <div id="nf" class="container">

<div class="iconrow">
      <a href="categories/3"><div class="iconhold"><img src="/assets/art.png"><p style="margin-left:20px;">Arts</p></div></a>
      <a href="categories/4"><div class="iconhold"><img src="/assets/council.png"><p style="margin-left:-10px;">Council Meeting</p></div></a>
      <a href="categories/1"><div class="iconhold"><img src="/assets/pets.png"><p style="margin-left:20px;">Pets</p></div></a>
      <a href="categories/2"><div class="iconhold"><img src="/assets/safty.png"><p style="margin-left:30px;">Safety</p></div></a>
      <a href="categories/5"><div class="iconhold"><img src="/assets/urbanplanning.png"><p style="margin-left:-5px;">Urban Planning</p></div></a>
</div>
</div>
<div id="long" class="container">

<div id="randtweets" data-random-tweets-path="<%=random_tweets_path%>">
<center><ul><li></li></ul></center>
</div>
<% #@categories.each do |category| %>
    <%# link_to category.name, category %>
    <%# end %>
 </div><!-- /container -->

 <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">TweetStarter</h3>
  </div>
  <div class="modal-body">
    <p>TweetStarter is a dashboard for driving civic events with social media.   You can topics by your interest, learn meeting location and times  and follow updates through Twitter.  </p>

<p>Tweetstarter accelerates social media campaigns by aggregating open data about meetings and live streaming Twitter feeds- all in one convenient place.  </p>

<p>Haven’t launched a campaign for your favorite meeting or topic? Tweetstarter will automatically generate a hashtag by pulling information from government servers.  Now you don’t have to wait for twitter trends to emerge around your topic. Tweetstart lets you jumpstart your favorite topic today.  Click on an icon to begin!!</p>
  </div>
  
</div>
